@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --app-bg: #101827;
  --sidebar: rgba(21, 30, 47, 1);
  --sidebar-main-color: #fff;
  --table-border: #1a2131;
  --table-header: #1a2131;
  --app-content-main-color: #fff;
  --sidebar-link: #fff;
  --sidebar-active-link: #1d283c;
  --sidebar-hover-link: #1a2539;
  --action-color: #2869ff;
  --action-color-hover: #6291fd;
  --app-content-secondary-color: #1d283c;
  --filter-reset: #2c394f;
  --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.light:root {
  --app-bg: #fff;
  --sidebar: #f3f6fd;
  --app-content-secondary-color: #f3f6fd;
  --app-content-main-color: #1f1c2e;
  --sidebar-link: #1f1c2e;
  --sidebar-hover-link: rgba(195, 207, 244, 0.5);
  --sidebar-active-link: rgba(195, 207, 244, 1);
  --sidebar-main-color: #1f1c2e;
  --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.app-container {
  border-radius: 4px;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  max-width: 1280px;
  display: flex;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 2000px;
  margin: 0 auto;
}

.sidebar {
  flex-basis: 290px;
  max-width: 300px;
  flex-shrink: 0;
  background-color: var(--sidebar);
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--sidebar);
}

.sidebar-header .app-icon img {
  margin-top: 10px;
  height: 100px;
  width: 180px;
}

.sidebar #profile {
  margin-top: 15px;
  margin-left: 17px;
}

.sidebar .info {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: -10px;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.sidebar-list-item {
  margin-left: -10px;
  position: relative;
  margin-bottom: 4px;
}

.sidebar-list-item a {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  color: var(--sidebar-link);
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}

.sidebar-list-item svg {
  margin-right: 8px;
}

.sidebar-list-item:hover {
  background-color: var(--sidebar-hover-link);
}

.sidebar-list-item.active {
  background-color: var(--sidebar-active-link);
}

.sidebar-list-item.active:before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--action-color);
  height: 100%;
  width: 4px;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

.app-icon {
  color: var(--sidebar-main-color);
}

.app-icon svg {
  width: 24px;
  height: 24px;
}

.app-content {
  padding: 16px;
  background-color: var(--app-bg);
  height: 100%;
  flex: 1;
  max-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-content .heading {
  margin-top: 30px;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

#hospitalregister {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 40%;
}

#hospitalregister .input_field {
  position: relative;
  margin-bottom: 20px;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
}

#hospitalregister .input_field > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  border-right: 1px solid #cccccc;
  text-align: center;
  width: 30px;
}

#email input {
  width: 50px;
}
/* :where(.gender input, .gender label) */
.input_field :where(#ln, #hn, #p, #cp, #cn, #o, #t, #d, #s) {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.input_field #e {
  width: 300px;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* #hospitalregister input {
    width: 100%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
} */

#hospitalregister input:hover {
  background: #fafafa;
}

#hospitalregister input:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
  background: #fafafa;
}

#hospitalregister input[type="submit"] {
  background: #f5ba1a;
  /* margin-left: auto; */
  height: 50px;
  /* line-height: 35px; */
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hospitalregister input[type="submit"]:hover {
  background: #e1a70a;
}

#hospitalregister input[type="submit"]:focus {
  background: #e1a70a;
}

.generateotp {
  display: flex;
}
#otpbt {
  background: #f5ba1a;
  /* margin-left: auto; */
  height: 35px;
  /* line-height: 35px; */
  width: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#otpbt:hover {
  background: #e1a70a;
}

#otpbt:focus {
  background: #e1a70a;
}
